[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools-scm = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.10"
